footer
{
    background-color: #ddd;
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman';
}
.footertext
{
    text-align: left;
}
.footergmail
{
    padding-top: 0px;
    padding-left: 0px;
    font-family: 'Times New Roman';
    color: black;
}

table
{
    width: 100%;
}

.topNubex
{
    padding-top: 0px;
    padding-left: 0px;
    color: black;
}