header
{
    height: 80px;
    padding: 20px;
    text-align: center;
    background: #465fff;
    color: white;
}
.headertext
{
    font-family: 'trebuchet ms';
    font-size: 20px;
}

nav
{
    display: block;
    position: sticky;
    word-spacing: 20px;
    top: 0em;
    padding: 10px;
    text-align: center;
    background-color: #333;
    z-index: 1;
}

a
{
    font-family: Arial;
    color: white;
    padding-left: 0px;
    padding-top:0px;
    text-decoration: none;
    text-align: center;
}